.exit_button_image {
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	transition: background-color 0.2s ease;
	border-radius: 50%;
}

.exit_button_image:hover {
	background-color: #c04c4c75;
	border-radius: 50%;
}
