.main_container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	background-color: #fffff8;
}

.budget_container {
	background-color: #426c3c;
	color: #fffff8;
	width: 100%;
	flex-basis: 20%;
	padding: 1rem;
}

.negative_budget {
	background-color: #740f0f;
	color: #fffff8;
	width: 100%;
	flex-basis: 20%;
	padding: 1rem;
}

.header {
	margin: 2rem;
	font-size: 1.4rem;
}

.balance {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.header_icon {
	font-size: 3.5rem;
}

.navigation_button_container {
	flex-basis: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-weight: 100;
}

.set_budget_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.set_budget_form {
	height: 50%;
	width: 95%;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

.set_budget_header {
	flex-basis: 10%;
	display: flex;
	justify-content: end;
	align-items: center;
}

.exit_button_image {
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	transition: background-color 0.2s ease;
	border-radius: 50%;
}

.exit_button_image:hover {
	background-color: #c04c4c75;
	border-radius: 50%;
}

.set_budget_main {
	flex-basis: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.set_budget_label {
	margin-bottom: 1rem;
}

.set_budget_main input {
	width: 80%;
	margin: 0 auto;
	padding-left: 0.3rem;
}

.set_budget_add_container {
	flex-basis: 20%;
}
