.reusable_button {
	width: 10rem;
	height: 2rem;
	font-weight: bold;
	color: white;
	background-color: #384872;
	border-radius: 15px;
}

.reusable_button:hover {
	background-color: #4f97d9;
}

.reusable_button:active {
	background-color: #7994ae;
}
